[submodule "lib/peregrine-constellation"]
	path = lib/peregrine-constellation
	url = https://github.com/Diamond42474/peregrine-constellation.git
[submodule "lib/kissfft"]
	path = lib/kissfft
	url = https://github.com/mborgerding/kissfft.git
